  ul.menu {
    display: flex;
  }
  
  li.menu {
    list-style: none;
  }
  
  a {
    display: block;
    text-decoration: none;
    color: white;
    margin-right: 35px;
  }
  
  h3 {
    font-family: 'Vollkorn', serif;
  }

  footer{
    text-align: center;
  }

  body {
    background-color:#F4F0E4;
    padding-top: 60px;
  }

  .starter-template{
    background-color:white;
  }
  
  .about{
    background-color:9CBBDD;
  }

  .contents{
    position: relative;
    width: 85%;
    height: ;
    padding-top: 56.25%;
  }
  
  .contents iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 85%;
    height: 85%;
  }
