  body {
    /* background-color:#DBDCDB; */
    background-color:#ECECED;
    padding-top: 60px;
  }
  
/*   a {
    display: block;
    text-decoration: none;
    color: white;
    margin-right: 35px;
  }

  img {
    display: block;
    margin:auto;
  }

  section{
    padding:5%;
    padding-left:20%;
    padding-right:20%;
  }

  #about_text{
    display: block;
    margin:auto;
    font-size: 18px;
    text-align: center;
    font-family: 'Zen Kaku Gothic New', sans-serif;
  }

  .about_text{
    display: inline-block;
    text-align: left;
  }

  section#about{
    padding-bottom:0%;
  }

  #skill_text{
    text-align: center;
    font-family: 'Zen Kaku Gothic New', sans-serif;
  }
  
  h1 {
    font-family: 'Vollkorn', serif;
    text-align: center;
    padding-bottom: 2%;
  }
  
  .profile{
    background-color:#9CBBDD;
    /* background-color:#ECECED;
    background-image: url(profile.PNG);
    background-size: cover; */
  }

  .works{
    padding-left:10%;
    padding-right:10%;
    font-family: 'Zen Kaku Gothic New', sans-serif;
    background-image: url(background.PNG);
    background-size: cover;
    background-repeat: no-repeat;
  }

  .contact{
    background-color:#DBDCDB;
  }
  
  .contents iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 85%;
    height: 85%;
  }

  .wrap {
    text-align: center;
  }

  footer{
    background-color:#5C5559;
    padding: 15px;
    text-align: center;
    color : white;
    font-family: 'Vollkorn', serif;
    font-size: 15px;
  }
